{% extends "base.html" %}
{% block content %}

<div class="card" style="width:90%">
    <h1>Prediction History (Admin)</h1>

    <table>
        <tr>
            <th>Date</th>
            <th>Image Name</th>
            <th>Preview</th>
            <th>Prediction</th>
            <th>Confidence</th>
        </tr>

        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>
                <img src="/static/uploads/{{ row[1] }}" style="width:80px;">
            </td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}%</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}